html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--surface-ground);
  font-family: var(--font-family);
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 0.2rem;
  padding: 1rem 1rem 3rem 1rem;
  background: var(--surface-ground);
  overflow-x: hidden;
}

.grid * {
  box-sizing: border-box;
}

@media (max-width: 992px) {
  html {
    font-size: 0.85rem;
  }

  .layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem 1rem 3rem 1rem;
    background: var(--surface-ground);
  }
}

@media (max-width: 520px) {
  html {
    font-size: 0.75rem;
  }

  .hidden-mob {
    display: none;
  }
}
