.p-dialog .p-dialog-content {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.p-datatable .p-datatable-tbody {
  tr:hover {
    background: var(--surface-hover);
  }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: var(--surface-card);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background: var(--surface-card);
}
