.header {
  position: sticky;
  z-index: 999;
  padding: 0.85rem 0.5rem 0.5rem;
  top: 0;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  background-color: var(--surface-card);
  transition: left 0.2s;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.p-menubar {
  width: 100%;
  border: none;
  background: var(--surface-card);
  gap: 1rem;
}

.p-menubar .p-menubar-custom,
.p-menubar .p-menubar-end {
  align-items: end;
}
