.header-wrapper {
  position: sticky;
  z-index: 999;
  top: 0;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  background-color: var(--surface-card);
  transition: left 0.2s;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  height: 5rem;
  background: transparent;
  padding: 0.85rem 0.5rem 0.25rem;

  .p-menubar {
    transition: all 0.5s ease;
    width: 100%;
    border: none !important;
    gap: 1rem;
    align-items: center;

    .p-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    border-radius: var(--border-radius);
  }
}
